
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Smooch&display=swap');

* {
    --background-color: #1c2331;
    --text-color: #ecf0f1;
    --accent-color: #3498db;
    --border-color: #2c3e50;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.fontChange1 {
    font-size: 80px; /* Example font size */
    font-family: 'Kanit', sans-serif;
    background-image: linear-gradient(to right, pink, mediumpurple); /* Horizontal gradient */
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px;
}

.flexHorizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    gap: 10px;
    margin-right: 75px;
}

.flexVertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    gap: 10px;
    margin-right: 75px;
}

.spaceBetween{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.buttonsvertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-right: 100px;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}

.button-36 {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 100px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 500;
    height: 3rem;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}
.button-36:disabled{
    cursor:not-allowed;
}
@media (min-width: 768px) {
    .button-36 {
        padding: 0 2.6rem;
    }
}

#array-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 300px;
    /*scale: 1.5;*/
    overflow: hidden;
    margin-top: 200px;

}

.bar {
    width: 10px;
    margin: 2px;
    background-color: var(--accent-color);
    display: inline-block;
    transition: background-color 0.5s ease;
}

#fontColorWhite{
    color: white;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}


#navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
}


/* Path: css/graph.css */

